@charset "UTF-8";


:root{
    --cor0: #ffffff;
    --cor1: #000000;
    --cor2: #f7a2a8;
    --cor3: #fa6a73;
    --cor4: #F64653;
    --cor5: #ff2635;
}


* {
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 214, 214);
    
}





header{
    background-image:linear-gradient(var(--cor1),var(--cor4),var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    
}


header > h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.822);
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.822);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.596);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;    
    border-radius: 20px;
    transition-duration: .5s;
    
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);

}

main{

    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    }

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 5px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
    
}

main img{
width: 100%;
}    

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 10px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61);
    text-align: center;
    
}

aside ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    
}

aside p{
    text-align: center;
}


footer{
    background-color: var(--cor5);
    text-align: center;
    color: black;
    font-size: 0.8em;
    padding: 1px;
    margin: 0px;
}

footer > p{
    margin: 0px;
}